@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --topaz: #fec887;
  --isabelline: #f6f2eb;
  --lexend: "Lexend", sans-serif;
  --mango-tango: #e57b1e;
  --earth-yellow: #ecb067;
  --transition-1: ease-in-out all 0.3s;
  --black: #000;
  --white: #fff;
  --blue: #1213e5;
  --gainsboro: #d9d9d9;
  --white-smoke: #efefef;
  --dark-gray: #acacac;
  --gray: #808080;
  --red: #d73d3d;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  display: none;
}
body {
  height: calc(100vh - 5rem);
  width: 100%;

  margin-top: 5rem;
  font-family: var(--lexend);
  -webkit-user-select: none; /* Disable selection for WebKit browsers */
  -moz-user-select: none; /* Disable selection for Firefox */
  -ms-user-select: none; /* Disable selection for Microsoft Edge */
  user-select: none; /* Disable selection for all other browsers */
  color: var(--black) !important;

  background-color: var(--isabelline);
  background-image: url(/assets/bg_body.png);
  background-size: cover;
  background-repeat: repeat-y;
}
header {
  height: 5rem;
  width: 100%;
  z-index: 1000;

  border-bottom: solid 3px var(--topaz) !important;
  padding: 0 3rem;
  background-color: var(--isabelline);
}
header a {
  height: 100%;
}
header a img {
  height: 80%;
}
header .register-link {
  color: var(--black);
  transition: var(--transition-1);
  height: fit-content;
}
header .register-link:hover {
  text-decoration: underline !important;
  transition: var(--transition-1);
}
header .register-link span.sign-up-link {
  color: var(--mango-tango);
}
content {
  min-height: 100%;
  padding-bottom: 3rem;
}
content .cta {
  font-size: 2.5rem;
  width: 50%;
}
content .cta span {
  color: var(--mango-tango);
}
content form {
  background-color: var(--white);
  width: 75%;
  min-width: 350px;
  max-width: 800px;
}
form img {
  max-width: 100%;
  max-height: 15vh;
}
.pass-input {
  border: solid 4px var(--gainsboro);
  background-color: var(--white-smoke);
}
.pass-input iconify-icon {
  font-size: 1.5rem;
  color: var(--dark-gray);
}
.pass-input input {
  border: none;
  outline: none;
  background: none;
}
.empty {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  color: var(--red);
  visibility: hidden;
}
.empty.active {
  visibility: visible;
}
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25%,
  75% {
    transform: translateX(-3px);
  }
  50% {
    transform: translateX(3px);
  }
}

form .submit-form {
  color: var(--black);
  cursor: pointer;
  background-color: var(--topaz);
  border: solid 3px var(--topaz);
  transition: var(--transition-1);
}
form .submit-form:hover {
  background-color: var(--isabelline);
  border: solid 3px var(--mango-tango);
  color: var(--mango-tango);
  transition: var(--transition-1);
}
@media screen and (max-width: 1065px) {
  content .cta {
    font-size: 2rem;
  }
}
@media screen and (max-width: 900px) {
  content .cta {
    width: 80%;
  }
}
@media screen and (max-width: 750px) {
  header .register-link span {
    display: none;
  }
  header .register-link span.sign-up-link {
    display: block;
  }
}
@media screen and (max-width: 625px) {
  body {
    font-size: 0.9rem;
  }
  content .cta {
    font-size: 1.75rem;
    width: 75%;
  }
}
